@using Entity.Concrete
@using Entity.Concrete.Enums
@model QuestionnaireViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row pt-5">
    <div id="details" class="col-7">
            <div class="card text-dark border-dark mb-3" >
            <div class="card-header">
                <h1>
                     @Model.Questionnaire.Name
                </h1>
                <span class="badge text-primary">@Model.Questionnaire.Status</span>
            </div>
            <div class="card-body">
                <div class= "pt-2">
                    @Model.Questionnaire.Description
                </div>
                   <div class="text-end pt-4">
                    <button type="button" id="edit" data-id="@Model.Questionnaire.Id" class="btn btn-outline-primary" >
                      Edit
                    </button>
                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                      Delete
                    </button>
                    @if(Model.Questionnaire.Status == QuestionnaireStatus.DRAFT)
                    {
                        <a class="btn btn-warning" asp-action="Publish" asp-route-id="@Model.Questionnaire.Id">Publish</a>
                    }
                </div>
            </div>
            
        </div>
    </div>
    @if(Model.Questionnaire.Status == QuestionnaireStatus.CREATED || Model.Questionnaire.Status == QuestionnaireStatus.DRAFT)
    {
        <div class="col-5">
        <div class="card border-dark">
            <div class="card-header">
                <h4>Add Question</h4>
            </div>
            <div class="card-body">

               <form asp-action="Add" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Question.Text" class="control-label"></label>
                        <textarea asp-for="Question.Text" class="form-control" rows=5></textarea>
                        <span asp-validation-for="Question.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                         <label >Type:</label><br />
                         @foreach (var item in System.Enum.GetValues(typeof(QuestionType)))
                         { 
                                <div>
                                    @Html.RadioButtonFor(m => Model.Question.Type, (int)item,null)
                                    @Html.Label(item.ToString())
                                </div>
                          }
                         <span asp-validation-for="Question.Type" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Question.QuestionnaireId" value = "@Model.Questionnaire.Id" />
                        <div class="form-group mt-2">
                        <input type="submit" value="Add" class="btn btn-primary" />
                       </div>
                    </form>

            </div>
         </div>
    </div>
    }
</div >
    <div class = "row pt-3">
        <div class= "col-7">
        
        @{
            if(Model.Questionnaire.Questions == null || Model.Questionnaire.Questions.Count == 0)
            {
                <p>There is no question yet!</p>
            }
            else
            {
                @foreach(var item in Model.Questionnaire.Questions)
                {
                                        
                    if(item.Type == QuestionType.OPENENDED)
                    {
                        <div class="card text-dark border-dark mb-3" >
                        <div class="card-body">
                           <h5>@item.Text</h5>
                           <textarea readonly rows=5 style="width:75%;"></textarea>
                          </div>
                        </div>
                    }
                    else if(item.Type == QuestionType.MULTISELECTION)
                    {
                        <div class="card text-dark border-dark mb-3" >
                        <div class="card-body">
                           <h5>@item.Text</h5>
                                <div class="py-3">
                                @if(item.MultiAnswers != null)
                                {
                                    foreach(var answer in item.MultiAnswers)
                                    {
                                        var a = answer as MultiAnswer;
                                        <div>
                                            <input type="checkbox" disabled />
                                            <label>@a.Title</label>
                                        </div>
                                    }
                                }
                                </div>
                                @if(Model.Questionnaire.Status == QuestionnaireStatus.DRAFT)
                                {
                                    <div>
                                    <a class="btn btn-outline-primary" asp-action="AddMultiAnswer" asp-controller="Question" asp-route-id = "@item.Id" asp-route-parent = "@item.QuestionnaireId">Add</a>
                                </div>
                                }
                            </div>
                        </div>
                    }
                    else if(item.Type == QuestionType.SELECTION)
                    {
                        <div class="card text-dark border-dark mb-3" >
                        <div class="card-body">
                           <h5>@item.Text</h5>
                                <div class="py-3">
                                @if(item.OptionAnswers != null)
                                {
                                    foreach(var answer in item.OptionAnswers)
                                    {
                                        var a = answer as OptionAnswer;
                                        <div>
                                            <input type="radio" disabled/>
                                            <label>@a.Title</label>
                                        </div>
                                    }
                                }
                                </div>
                                <div>
                                    @if(Model.Questionnaire.Status == QuestionnaireStatus.DRAFT)
                                    {
                                        <a class="btn btn-outline-primary" asp-action="AddOptionAnswer" asp-controller="Question" asp-route-id = "@item.Id" asp-route-parent = "@item.QuestionnaireId">Add</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a asp-action="Delete" asp-route-id="@Model.Questionnaire.Id" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


    

